.card-body{
  background-color:#A8A196;
  color:#ffff !important;    
  
}
.background-light-green{
  background-color: #A0C49D;
  color: #ffff;
}
.background-light-red{
  background-color: #F24C3D;
  color: #ffff;
}
.card-header .header-icon{
background-color: #7D7463;
padding: 0 3px;
border-radius: 10px;
border: 1px solid black;
}
.daywise-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .card-container .card-header{
  display: flex;
  justify-content: space-between;
  padding:10px 15px;
 }
 .card-container .card-body-login ,.card-body-logout{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card-body-login div,.card-body-logout div{
   padding:0 15px;

}
.card-body-login div p ,.card-body-logout div p{
  font-size: 25px;  
  margin :0;
}
 
@media only screen and (max-width: 768px) {

 
  .card-container {
    height: 600px;
    overflow-y: scroll;
  }
  .card-container::-webkit-scrollbar {
    width: 5px;
  }
  .card-container::-webkit-scrollbar-track {
    background-color: black;
  }

  .card-container::-webkit-scrollbar-thumb {
    background: #8f8c8c;
    border-radius: 25px;
  }
}
